# Lab1

this is  my first lab

In [2]:
import pandas as pd 

covid_data = pd.read_csv('s3://ia340-2025-schunk-7569804/data.csv')

covid_data.head()

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/fsspec/registry.py:298: UserWarning: Your installed version of s3fs is very old and known to cause
severe performance issues, see also https://github.com/dask/dask/issues/10276

To fix, you should specify a lower version bound on s3fs, or
update the current installation.

  warnings.warn(s3_msg)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
4,10/12/2020,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658

In [5]:
import pandas as pd 

data = pd.read_csv('s3://ia340-2025-schunk-7569804/data_v7.csv')

data.head()

,YearWeekISO,ReportingCountry,Denominator,NumberOfIndivOneDose,Region,TargetGroup,Vaccine,Population
0,2023-09,BE,622545.0,26062.0,NaN,HCW,COMXBB,11742796
1,2023-12,BE,622545.0,1963.0,NaN,HCW,COMXBB,11742796
2,2023-11,BE,622545.0,13282.0,NaN,HCW,COMXBB,11742796
3,2023-10,BE,622545.0,83069.0,NaN,HCW,COMXBB,11742796
4,2023-09,BE,622545.0,1785.0,NaN,HCW,OTHER,11742796